<a href="https://colab.research.google.com/github/wjddn1998/py03/blob/master/py03_exam_mid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 중간필기시험: 파이썬 활용 (2019.10.21)
- 문제에 배점이 표시되어 있음. (기본 배점은 1, 총 30점)

***

### # [1] 다음 식의 연산 결과는?

```
a = 3
b = 4
a**b  
```

In [0]:
a = 3
b = 4
print(a**b)

81

답: 81

### # [2] 다음 문자열 a의 길이는?


```
a = "Life is too short!"

len(a)
```

In [0]:
a = "Life is too short!"
 
len(a)

18

답: 18

---

### # [3-4] 다음 문자열 a 에 대하여 인덱싱과 슬라이싱을 한 결괴는? 


```
a = "Life is too short, You need Python!"

print(a[-12])   # 문제[3]

# 

a[19:-8]       # 문제[4] 

```

In [0]:
a = "Life is too short, You need Python!"
 
print(a[-12])   # 문제[3]
 
# 
 
print(a[19:-8])       # 문제[4]

n
You need

문제 [3] 답 : n

문제 [4] 답 : 'you need'

---

### # [5] 다음의 결과가 출력되지 않는 것은?

'I ate 10 apples. so I was sick for three days.'


```
# code start
number = 10
day = "three"

'''
A. "I ate {0} apples. so I was sick for {1} days.".format(10, day)
B. f"I ate {number} apples. so I was sick for {day} days."
C. "I ate {number} apples. so I was sick for {three} days."
D. "I ate {0} apples. so I was sick for {1} days.".format(number, day)
'''

```

In [0]:
number = 10
day = "three"
 
# print("I ate {0} apples. so I was sick for {1} days.".format(10, day))
# print(f"I ate {number} apples. so I was sick for {day} days.")
print(f"I ate {number} apples. so I was sick for {three} days.")
# print("I ate {0} apples. so I was sick for {1} days.".format(number, day))

NameError: ignored

답: C

---

### # [6] format 함수 또는 f 문자열 포매팅을 이용해서 '!!python!!' 문자열을 출력해보시오.

```
print(f'{"python":!^10}')


```

In [0]:
print(f'{"python":!^10}')
'{0:!^10}'.format("python")

!!python!!

'!!python!!'

답: print(f'{"python":!^10}')

---

### # [7] 다음 list a의 인덱싱 결과는?

```
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]


a[3][-1][0]

```

In [0]:
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]
 
a[3][-1][0]

'My'


답: 'My'
---

### # [8] 다음 list x의 슬라이싱 결과는?


```
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]

x[-6:1:-1]

```

In [0]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
 
x[-6:1:-1]

[4, 3]

답: [4, 3]

---

### # [9] 다음 list x에 함수 count의 적용 결과는?


```
a = [1, 2, 's', 't']
x = a*3

x.count("s")

```

In [0]:
a = [1, 2, 's', 't']
x = a*3
 
x.count("s")

3

답: 3

---

### # [10] 다음 tuple t1의 슬라이싱 결과는?



```
t1 = (0, 2, "s", "t", "u")

t1[3:-1]

```

In [0]:
t1 = (0, 2, "s", "t", "u")
 
t1[3:-1]

('t',)

답: ('t',)

---

### # [11] 다음 set s1의 최종 출력 결과는?

```
s1 = set([1, 2, 3])
s1.update([2, 4, 6])

s1.add(3)

s1  # 출력 결과?
```

In [0]:
s1 = set([1, 2, 3])
s1.update([2, 4, 6])
 
s1.add(3)

print(s1)

{1, 2, 3, 4, 6}

답: {1, 2, 3, 4, 6}
---

### # [12] 다음 bool 값 출력 중 정확한 것은?

bool([0, 1, 2, 3]), bool([0]), bool((0)), bool((0,))


```
'''
A. (True, True, True, True)
B. (False, False, False, False)
C. (True, True, False, True)
D. (True, False, False, True)
'''

```

In [0]:
bool([0, 1, 2, 3]), bool([0]), bool((0)), bool((0,))

(True, True, False, True)

답: C

---

### # [13-2점] 다음 조건문을 1줄 코드로 변경하시오.  

```
score=80

if score >= 70:
    message = "success"
else:
    message = "failure"

print(message)

```

> 출력 결과 :  success

In [0]:
# [13-2점] 1줄 조건문
score = 80

message = "success" if score >= 70 else "failure"
print(message)

success

답: "success" if score >= 70 else "failure"

---

### # [14-2점] 다음 커피자판기가 실행 결과와 같이 제대로 실행되도록 A, B 에 코드를 완성하시오. 
> coffee.py

```

coffee = 5

while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % A._____________)
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if B._______________:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break
```
> 실행 결과 :  
```
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 300
커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

```

In [0]:
coffee = 5
 
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money - 300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어 주세요: 450
거스름돈 150를 주고 커피를 줍니다.
돈을 넣어 주세요: 200
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개 입니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 500
거스름돈 200를 주고 커피를 줍니다.
돈을 넣어 주세요: 700
거스름돈 400를 주고 커피를 줍니다.
돈을 넣어 주세요: 350
거스름돈 50를 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

답:

A -> (money - 300)

B -> coffee == 0

---

### # [15-2점] 다음 for-loop의 출력 결과는?

```

games = ["축구", "야구", "농구"]

# 
for cnt in range(len(games)):
    print(cnt, games[cnt], end=',')
    
    
```

> 출력 결과 ?

In [0]:
games = ["축구", "야구", "농구"]
 
# 
for cnt in range(len(games)):
    print(cnt, games[cnt], end=',')

0 축구,1 야구,2 농구,

답: 0 축구, 1 야구, 2 농구,

---

### # [16-2점] 다음 dictionary를 이용하여 평균 점수를 계산하는 코드를 완성하시오.

```


scores={"국어":80, "영어":75, "수학":55}


print("평균점수는{0}점입니다".format(sum([16]_____________________)/len(scores)))


    
```

In [0]:
scores={"국어":80, "영어":75, "수학":55}
 
print("평균점수는{0}점입니다".format(sum(scores.values())/len(scores)))

평균점수는70.0점입니다

답: scores.values()

---

### # [17-2점] ['Life', 'is', 'too', 'short.'] 리스트를 Life is too short. 문자열로 만들어 출력하는 코드를 완성하시오.
> join 함수를 이용하시오.

```

words = ['Life', 'is', 'too', 'short']


words = ______________________________


print(words)

    
```

In [0]:
words = ['Life', 'is', 'too', 'short']
 
words = " ".join(words)
 
print(words)

Life is too short

답: " ".join(words)

---

### # [18-2점] a 리스트에서 중복 숫자를 제거해서 출력하는 다음 코드를 완성하시오.



```

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]


a = A.________________


a = B.________________


print(a)



```


  
> 출력 결과 : [1, 2, 3, 4, 5]

In [0]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
 
a = set(a)
a = list(a)
 
print(a)

[1, 2, 3, 4, 5]

A 답: set(a)


---

B 답 : list(a)

---

### # [19-2점] 다음 코드의 결과값은 무엇일까?



```

a = "Life is too short, you need python"


if "wife" in a: print("wife")

elif "python" in a and "you" not in a: print("python")

elif "shirt" in a: print("shirt")

elif "you" in a: print("you")

else: print("none")




```
  
  
  
> 출력 결과 ?

In [0]:
a = "Life is too short, you need python"
 
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" in a: print("shirt")
elif "you" in a: print("you")
else: print("none")

you

답: you

---

### # [20-2점] for문 사용해 1부터 1000까지의 자연수 중 5의 배수의 합을 구하는 전체 코드를 작성하시오.

> 결과(5의 배수의 합)까지 출력하는 코드는 4줄 이하로 작성하시오.
>> 최소한의 줄로 만든 코드는 bonus 점수를 부여함.



```
___________________________________________________________

___________________________________________________________

___________________________________________________________

___________________________________________________________


```

In [0]:
add = 0
for num in range(1,1001):
   if num % 5 == 0: add += num
print(add)

100500

In [0]:

result = [add for add in range(1,1001) if add % 5 == 0]
print(sum(result))

100500

In [0]:
sum([add for add in range(1,1001) if add % 5 == 0])

100500

답:

    add = 0
    for num in range(1,1001):
       if num % 5 == 0: add += num
    print(add)

---

### # [21-2점] 1부터 1000까지의 자연수 중 5의 배수를 전부 포함하는 list를 list 내포로 만드시오.

> 한 줄 코드로 완성하시오.


```


______________________________________________________________________



```

In [0]:
result = [num for num in range(1,1001) if num % 5 == 0]
print(result)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995, 1000]

답:

    result = [num for num in range(1,1001) if num % 5 == 0]

---

## 정답을 설명하는 파이썬 노트를 완성해서 각자의 github에 올리시오.
- 제출기한: 10월 28일(월) 오후 4시.

### 업로드 파일명: pynn_exam_mid.ipynb  (pynn은 id)